<%-include("partials/header")-%>

<h1>Compose</h1>
<form action="/" method="post">
    <input type="text" name="">
    <button type="submit" name="">Publish</button>
</form>

<%-include("partials/footer")-%>