body{
    font-family: "Montserrat" !important;    
}
h1, h2{   
    font-family: "Montserrat" !important ;   
    font-weight: 900 !important;
    font-size: 3rem !important;
    line-height: 1.5 !important;
}

h3{ /*feature*/
    font-family: "Montserrat" !important ;   
    font-weight: 900 !important;
    font-size: 1.5rem;
}
p{/*feature*/
color: #8f8f8f;
}

.container-fluid{
 padding: 3% 15% !important;
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
/* Nav bar */
nav{
    padding-bottom: 4.5rem !important;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem !important;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";   
    font-weight: 400;
}
/* buttons download */
.download-button{
    margin: 5% 3% 5% 0;
}
/* title image */
.title-img{
    transform: rotate(20deg);
    width: 50%;
}

/* Feature Section*/
#features, #testimonials{
    padding: 7% 15%;
    text-align: center;
}
#features i{
    color: #ef8172;    
    padding: 0 0 20px 0;
}
#features i:hover{
    color: #ff4c68;    
}
.feature-box{
    padding: 0 10% !important;
}
/* Testimonials Section */
#testimonials{
    background-color: #ef8172;
    color: #fff;
}
.testemonial-img{
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}
.press-logo{
    margin: 20px 20px 50px;
    width: 10%;
}